.order_content {
  border-radius: 40px;
  background-color: #1C1C21;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 36px;
  text-align: center;
}

.order_image {
  min-width: 120px;
}

.statistic {
  align-self: center;

}
