.order_statistics {
  width: 100%;
}

.order_statistics__statuses {
  display: flex;
  justify-content: flex-start;
  gap: 60px
}

.order_statistics__status {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  min-width: 280px;
}

.order_statistics__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  flex-direction: column;
  max-height: 400px;
  margin: 0;
  padding: 0;
  gap: 8px;
}

.order_statistics__ready {
  color: #00CCCC;
}
